<div class="popup search-popup local-search-popup" role="search">
  <div class="local-search-header clearfix">
    <span class="search-icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <button type="button" class="popup-btn-close" aria-label="Close search">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <div class="local-search-input-wrapper">
      <label class="sr-only" for="local-search-input">{{ __.menu.search }}</label>
      <input autocomplete="off"
             placeholder="{{ __.search.placeholder }}" spellcheck="false"
             type="text" id="local-search-input">
    </div>
  </div>
  <div id="local-search-result"></div>
</div>
